apiVersion: v1
kind: ConfigMap
metadata:
  name: n8n-config
  namespace: {{ .Values.namespace }}
data:
  DB_TYPE: {{ include "n8n.config.dbType" . }}
  DB_POSTGRESDB_HOST: {{ include "n8n.config.dbHost" . }}
  DB_POSTGRESDB_PORT: {{ include "n8n.config.dbPort" . | quote }}
  DB_POSTGRESDB_DATABASE: {{ include "n8n.config.dbDatabase" . }}
  DB_POSTGRESDB_USER: {{ include "n8n.config.dbUser" . }}
  DB_POSTGRESDB_SCHEMA: {{ include "n8n.config.dbSchema" . }}
  EXECUTIONS_MODE: {{ include "n8n.config.executionsMode" . }}
  QUEUE_BULL_REDIS_HOST: {{ include "n8n.config.queueBullRedisHost" . }}
  QUEUE_BULL_REDIS_PORT: {{ include "n8n.config.queueBullRedisPort" . | quote }}
  QUEUE_BULL_REDIS_DB: {{ include "n8n.config.queueBullRedisDb" . | quote }}
  N8N_HOST: {{ .Values.n8n.config.host }}
  N8N_PROTOCOL: {{ .Values.n8n.config.protocol }}
  N8N_PORT: {{ include "n8n.config.port" . | quote }}
  WEBHOOK_URL: {{ .Values.n8n.config.webhookUrl }}
  N8N_SECURE_COOKIE: {{ include "n8n.config.secureCookie" . | quote }}
  N8N_BLOCK_ENV_ACCESS_IN_NODE: {{ include "n8n.config.blockEnvAccessInNode" . | quote }}
  N8N_PAYLOAD_SIZE_MAX: {{ include "n8n.config.payloadSizeMax" . | quote }}
  EXECUTIONS_DATA_SAVE_ON_ERROR: {{ include "n8n.config.executionsDataSaveOnError" . }}
  EXECUTIONS_DATA_SAVE_ON_SUCCESS: {{ include "n8n.config.executionsDataSaveOnSuccess" . }}
  EXECUTIONS_DATA_PRUNE: {{ include "n8n.config.executionsDataPrune" . | quote }}
  EXECUTIONS_DATA_MAX_AGE: {{ include "n8n.config.executionsDataMaxAge" . | quote }}
  GENERIC_TIMEZONE: {{ include "n8n.config.timezone" . }}
