apiVersion: v1
kind: ConfigMap
metadata:
  name: n8n-config
  namespace: {{ .Values.namespace }}
data:
  DB_TYPE: {{ .Values.n8n.config.dbType }}
  DB_POSTGRESDB_HOST: {{ .Values.n8n.config.dbHost }}
  DB_POSTGRESDB_PORT: {{ .Values.n8n.config.dbPort | quote }}
  DB_POSTGRESDB_DATABASE: {{ .Values.n8n.config.dbDatabase }}
  DB_POSTGRESDB_USER: {{ .Values.n8n.config.dbUser }}
  DB_POSTGRESDB_SCHEMA: {{ .Values.n8n.config.dbSchema }}
  EXECUTIONS_MODE: {{ .Values.n8n.config.executionsMode }}
  QUEUE_BULL_REDIS_HOST: {{ .Values.n8n.config.queueBullRedisHost }}
  QUEUE_BULL_REDIS_PORT: {{ .Values.n8n.config.queueBullRedisPort | quote }}
  QUEUE_BULL_REDIS_DB: {{ .Values.n8n.config.queueBullRedisDb | quote }}
  N8N_HOST: {{ .Values.n8n.config.host }}
  N8N_PROTOCOL: {{ .Values.n8n.config.protocol }}
  N8N_PORT: {{ .Values.n8n.config.port | quote }}
  WEBHOOK_URL: {{ .Values.n8n.config.webhookUrl }}
  N8N_SECURE_COOKIE: {{ .Values.n8n.config.secureCookie | quote }}
  N8N_BLOCK_ENV_ACCESS_IN_NODE: {{ .Values.n8n.config.blockEnvAccessInNode | quote }}
  N8N_PAYLOAD_SIZE_MAX: {{ .Values.n8n.config.payloadSizeMax | quote }}
  EXECUTIONS_DATA_SAVE_ON_ERROR: {{ .Values.n8n.config.executionsDataSaveOnError }}
  EXECUTIONS_DATA_SAVE_ON_SUCCESS: {{ .Values.n8n.config.executionsDataSaveOnSuccess }}
  EXECUTIONS_DATA_PRUNE: {{ .Values.n8n.config.executionsDataPrune | quote }}
  EXECUTIONS_DATA_MAX_AGE: {{ .Values.n8n.config.executionsDataMaxAge | quote }}
  GENERIC_TIMEZONE: {{ .Values.n8n.config.timezone }}
